# Скопируйте в config.env и заполните
# На сервере используются переменные в systemd

ROBOKASSA_LOGIN=21dayCLUB
ROBOKASSA_PASS1=...
ROBOKASSA_PASS2=...
ROBOKASSA_TEST=0
BASE_URL=https://promo.21day.club

# Telegram оповещения при оплате
TELEGRAM_BOT_TOKEN=...
TELEGRAM_CHAT_IDS=249475266,5352631714
